doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Yuanshuo Lu

        // bootstrap
        link(href='./bs/css/bootstrap.min.css', rel='stylesheet')
        link(href='./me.css', rel='stylesheet')
    body
        .contact.container-fluid
            .row
                .col-lg-12
                    #avatar
                        .overlay
                        img(src='./images/me.jpeg')
            .row
                .col-lg-12
                    h1 Yuanshuo Lu
            .row
                .col-lg-3
                .col-lg-2
                    a.social &#62208;
                .col-lg-2
                    a.social &#62232;
                .col-lg-2
                    a.social &#62220;
                .col-lg-3
        // bootsrap
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='./bs/js/bootstrap.min.js')
